* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'pixel';
    src: url("../fonts/Pixel.ttf");
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 12px;
}

/* Estilo do Game */

[tp-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    background-color: deepskyblue;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}


.bird {
    position: relative;
    width: 60px;
    left: calc(50% - 30px);
    top: 50%;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82e);
    border: 2px solid black;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82e);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: pixel;
    font-size: 70px;
}